.car-template-container {
    position: relative;
  }

  .toolbox{
    img{
        height: 50px;
        width: 50px;
    }
  }

  .car-template {
    width: 100%; /* Adjust size as needed */
  }
  
  .icons-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .icon {
    position: absolute;
    cursor: pointer;
  }
  