<div class="toolbox">
      <img *ngFor="let icon of iconList" [src]="icon.src" (click)="addIcon(icon.src)">
    </div>
    <div class="car-template-container">
      <img src="assets\images\car-template-without-wheels-paper-crafts.png" class="car-template" alt="Car Template">
      <div class="icons-container">
        <img *ngFor="let icon of icons"
             [src]="icon.src"
             class="icon"
             [ngStyle]="{ 'left.px': icon.left, 'top.px': icon.top, 'width.px': icon.width, 'height.px': icon.height }"
             (mousedown)="startDrag($event, icon)"
             (mousedown)="startResize($event, icon)">
      </div>
    </div>
    <button (click)="saveState()">Save</button>
    <button (click)="loadState()">Load</button>
    